# Node
node_modules/
npm-debug.log*
package-lock.json

# Build outputs
dist/
out/
dist-electron/
*.log

# Editor
.DS_Store
.idea/
.vscode/

# Electron
*.asar

# OS
Thumbs.db

# Vite cache
.vite/
**/.vite/
apps/*/.vite/